
*.qgs~
*.xml

PASCAL/.idea/workspace.xml

SpatialDecision/resources.py

PASCAL/.idea/workspace.xml

SpatialDecision/resources.py

PASCAL/.idea/workspace.xml

PASCAL/resources.py

PASCAL2/resources.py
